.header{
    font-size: 40px;
    position: relative;
}
.authPage{
    display: flex;
    align-items: center;
    transition: all 1s ease;
    width: 100vw;
    height: 90vh;
    flex-direction: column;
    padding-top: 50px;
}
input{
    margin-bottom: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    width: 300px;
    height: 15px;
    font-size: 13px;
    display: flex;
    transition: all 1s ease;
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease;
    margin-top: 20px;
}
.select {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 10px;
    width: 300px;
    height: 15px;
    font-size: 13px;
    display: flex;
}
.submitButton{
    cursor: pointer;
    /*margin-top: 20px;*/
    position: relative;
    margin-bottom: 10px;
    color: white;
    background-color: black;
    /*width: 300px;*/
    width: 323px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 10px;
}

.changeMode{
    cursor: pointer;
    margin-top: 20px;
    color: white;
    background-color: black;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    position: absolute;
    bottom: 20px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}
button:hover{
    cursor: pointer;
    background-color: gray;
}
.dropDown{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.error {
    display: flex;
    margin-top: 20px;
    background-color: red;
    color: white;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    transition: all 1s ease;
}
.projects{
    background-color: mainColor;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.projectHeader{
    color: white;
    font-weight: 700;
    font-size: 70px;
    position: absolute;
    top: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftArrow{
    font-size: 20px;
    color: white;
    background-color: black;
    position: absolute;
    left: 30px;
    bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    padding: .5%;
}
.rightArrow{
    font-size: 20px;
    color: white;
    background-color: black;
    position: absolute;
    right: 30px;
    bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    padding: .5%
}
.projectSlider{
    height: 600px;
    display: flex;
    position: absolute;
    left: 0vw;
    transition: all 1.5s ease;
    overflow: hidden;
}
.projectHolder{
    width:100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.tutorButton{

}
.studentButton{
    
}