.studentHome {
    display: flex;
    flex-direction: row;
    height: 90vh;
    z-index: 2;
}
.leftHome {
    display: none;
    left: -40vw;
    transition: all 1s ease;
}
.leftHome.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    left:0px;
    height: 100%;
}
.rightHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 100%;
    flex-direction: column;
}